.game {
    display: grid;
    grid-template-areas: 
        'clock-top blink-top . movelist'
        'board board board movelist'
        'board board board controls'
        'board board board .'
        'board board board chat'
        'clock-bot blink-bot . chat';
}

/* partly borrowed from lichess pockets */
.blink {
    display: flex;
    flex-direction: row;
    width: calc(var(--cg-width) * 5 / 8);
    height: calc(var(--cg-height) / 8);
    background-color: #888;
    position: relative
}

.blink piece {
    width: 20%;
    height: 100%;
    background-size: cover;
}

.blink piece[data-nb=0] {
    opacity: 0.1;
}

.blink piece::after {
    content: attr(data-nb);
    bottom: 0;
    right: 0;
    position: absolute;
    line-height: 0.9em;
    padding: 3px 0.3em;
    font-weight: bold;
    font-size: 1.1em;
    background: #d64f00;
    color: #fff;
    text-shadow: 0 1px 1px black;
    box-shadow: 0 3px 4px rgb(0 0 0 / 15%) inset;
    border-radius: 3px;
}

.blink piece[data-nb=0]::after {
    content: none;
}

.blink piece.active:hover {
    background-color: #aaa;
}

#chessground {
    grid-area: board;
}

.clock-top {
    grid-area: clock-top;
}

.clock-bot {
    grid-area: clock-bot;
}

.blink-top {
    grid-area: blink-top;
}

.blink-bot {
    grid-area: blink-bot;
}

#movelist {
    grid-area: movelist;
}

#controls {
    grid-area: controls;
}

#chat {
    grid-area: chat;
}
